 <div id="headerNav" class="refresh">
                    <div class="innerpadding">
                        <a href="https://fresh.amazon.com/help?ref_=nav_help">
                            <div id="help_top">
                                <div id="help_top_img"></div>
                            </div>
                        </a>
                        <ul class="sidelist">
                            <li id="freshLogo">
                                <a href="/" id="fresh_logo_link">
                                    <img src="https://images-na.ssl-images-amazon.com/images/G/01/omaha/images/ui/af-logo-white-trans3.png" alt="AmazonFresh Home" />
                                    <span></span>
                                </a>
                           
                            <li class="first">
                                <span class="greeting" id="greeting">
                                    Already an AmazonFresh customer?
                                    <a href="/signin" id="signInLink">Sign in </a>
                                    .
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="unreadUrgentMessages"></div>
                <div id="accountMenu" tabindex="-1">
                    <ul>
                        <li class="taskbar_menubutton" title="Your Account">
                            <a href="https://fresh.amazon.com/Account?ref_=nav_account" id="your_account_link">Your Account</a>
                        </li>
                        <li class="taskbar_menubutton" title="Manage Your Dash">
                            <a href="https://fresh.amazon.com/dash/manage?ref_=nav_man_rio" id="manage_your_rio_link">Manage Your Dash</a>
                        </li>
                        <li class="taskbar_menubutton" title="Help">
                            <a href="https://fresh.amazon.com/help?ref_=nav_help" id="help_link">Help</a>
                        </li>
                        <li class="taskbar_menubutton" id="signout" title="Sign Out">
                            <a href="https://fresh.amazon.com/SignOut" id="signout_link">Sign Out</a>
                        </li>
                    </ul>
                </div>
                <div id="deliveriesMenu" class="menu" tabindex="-1">
                    <div class="message">
                        <p class="messagebody">You have no upcoming deliveries</p>
                    </div>
                    <div class="message">
                        Click here to
                        <a href="https://fresh.amazon.com/AllOrders">
                            view all orders in
                            <strong>Your Account</strong>
                        </a>
                        .
                    </div>
                    <div class="messagepopupoptions">
                        <a href="javascript:closeOpenMenus()">x close</a>
                    </div>
                </div>
                <div id="messagesMenu" class="menu" tabindex="-1">
                    <input type="hidden" name="refId" value="188-1338411-1687912">
                    <div class="message">
                        <p class="messagebody">You have no messages</p>
                    </div>
                    <div class="messagepopupoptions">
                        <a href="javascript:closeOpenMenus()">x close</a>
                    </div>
                </div>
                <div id="lightboxblockout" class="centered">
                    <div id="lightbox">
                        <div id="lb-cancel"></div>
                        <div id="lb-preloaded" class=""></div>
                        <div id="lb-ondemand"></div>
                    </div>
                </div>
                <div id="orderProcessing">
                    <div id="orderCheckoutSpinner">
                        <div id="spinnerText">We're processing your order.</div>
                        <div id="spinnerImg">
                            <img src="https://images-na.ssl-images-amazon.com/images/G/01/omaha/images/ui/placeorder-truck.png" id="greenTruck" alt="" />
                        </div>
                    </div>
                </div>