<!DOCTYPE html>
<html>
    <head>
        <meta name="verify-v1" content="lutKQKzTRD4Thc7dLxJZfCfpu/8crumpkdr/y2u32Kk=" />
        <meta name="description" content="Next-day and early morning delivery of fresh grocery, everyday essentials, neighborhood products, and Amazon.com items." />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="google-site-verification" content="9vpzZueNucS8hPqoGpZ5r10Nr2_sLMRG3AnDtNlucc4" />
        <title>Create an Account | AmazonFresh</title>
        <link rel="stylesheet" type="text/css" href="https://images-na.ssl-images-amazon.com/images/G/01/omaha/css/jqueryAutocomplete-1.2._V260835473_.css" />
        <link href="https://images-na.ssl-images-amazon.com/images/G/01/omaha/css/default._V1455922598_.css" type="text/css" rel="stylesheet" />
        <link href="https://images-na.ssl-images-amazon.com/images/G/01/omaha/css/myAccount._V1388696013_.css" type="text/css" rel="stylesheet" />
        <link href="https://images-na.ssl-images-amazon.com/images/G/01/omaha/css/welcome._V1442871299_.css" type="text/css" rel="stylesheet" />
        
       
        
        
       
        
       
        <link href="https://images-na.ssl-images-amazon.com/images/G/01/omaha/css/refresh._V1432677347_.css" type="text/css" rel="stylesheet" />
        
        
        <link rel="stylesheet" type="text/css" href="/css/MyFontsWebfontsKit.css" />
        <link rel="shortcut icon" href="https://images-na.ssl-images-amazon.com/images/G/01/omaha/images/ui/favicon.ico" type="image/vnd.microsoft.icon"/>
        <link rel="icon" href="https://images-na.ssl-images-amazon.com/images/G/01/omaha/images/ui/favicon.ico" type="image/vnd.microsoft.icon"/>
        <style id="antiClickjack">body{display:none !important;}</style>
        <script type="text/javascript">
        if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
        }  else {
        top.location = self.location;
        }
        </script>
    </head>
    <body id="welcome" class="">
        <div id="alphaLayer">
            <div>

                <!-- BEGIN header -->
              <%- include('header') %>
               
                <!-- END header -->
                <div id=pageWrapper>
                    <div id="pageContent">
                        <div id="registration" class="contentArea">
                            <h1>Create New Account</h1>
                            <form name="registerUserForm" action="createAccount" method="post">
                                <input type="hidden" value="true" name="createAccount">
                                <div>
                                    <input type="text" name="userName" value="" placeholder="Your Name" title="Your Name" />
                                </div>
                                <div>
                                    <input type="text" name="emailAddress" value="" placeholder="E-mail Address" title="E-mail Address" />
                                </div>
                                <div>
                                    <input type="text" name="emailCheck" value="" placeholder="Verify E-mail Address" title="Verify E-mail Address" />
                                </div>
                                <div>
                                    <input type="password" name="password" placeholder="Password" title="Password" />
                                </div>
                                <div>
                                    <input type="password" name="passwordCheck" placeholder="Verify Password" title="Verify Password" />
                                </div>
                                <div>
                                    <input type="submit" class="secondaryButton" value="Continue" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- close optional disable page div --> </div>
            <div id="refreshFooter">
                <div id="column1" class="column">
                    <a href="https://fresh.amazon.com/help?ref_=nav_help" id="lnk-gbl-help">Help</a>
                    <a href="https://fresh.amazon.com/Conditions?ref_=nav_cond">Conditions of Use</a>
                    <a href="https://fresh.amazon.com/Privacy?ref_=nav_priv">Privacy Notice</a>
                </div>
                <div id="column2" class="column">
                    <a href="https://fresh.amazon.com//MembershipBenefits">About</a>
                    <a href="https://fresh.amazon.com/careers?ref_=nav_careers">Careers</a>
                </div>
                <div id="copyrightAndDisclaimer">
                    &copy; 2007-2016 AmazonFresh, LLC or its affiliates
                    &nbsp;
                    All items sold by and ship from AmazonFresh unless otherwise specified.
                </div>
            </div>
        </body>
    </html>